table tr td {
	padding: 15px 15px 15px 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

table td.return.positive {
	color: rgba(0, 200, 5, 0.85);
}

table td.return.negative {
	color: rgba(255, 80, 0, 0.85);
}