table tr td {
	padding: 15px 15px 15px 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

table td.return.positive {
	color: rgba(0, 130, 25, 0.7);
}

table td.return.negative {
	color: rgba(220, 30, 30, 0.7);
}